<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>development</string>
	<key>teamID</key>
	<string>YOUR_TEAM_ID</string>
	<key>uploadBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
	<key>compileBitcode</key>
	<false/>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.mxtunnel.pro</key>
		<string>MxTunnelPro Development</string>
		<key>com.mxtunnel.pro.PacketTunnel</key>
		<string>PacketTunnel Development</string>
	</dict>
</dict>
</plist>
